@model IEnumerable<GroceryManagement.web.Models.PaymentMethod>
<body style="background-image:url(https://i.pinimg.com/originals/f8/39/4d/f8394dfa97526826b31823593b61d138.jpg); background-size:cover">
@{
    ViewData["Title"] = "Index";
}

<h1>All Payment's method available</h1>

<p>
    <div class="btn btn-dark">
        <a asp-action="Create">Add New Payment Method </a>
    </div>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MethodEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MethodEnabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentMethodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentMethodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentMethodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>