@model IEnumerable<GroceryManagement.web.Models.Category>
<body style="background-image:url(https://media.assets.sincrod.com/websites/content/nissan-hill-fl/dd6ab10ed8fd4a6784e28e368f41f374_c21x0-1557x875.jpg ); background-size:cover">
@{
    ViewData["Title"] = "Index";
}

<h1>All Categories list Displayed</h1>

<p>
        <div class="btn btn-dark">
            <a asp-action="Create">Create New Categories </a>
        </div>
  @*  <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IcId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IcId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IcId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>