@model IEnumerable<GroceryManagement.web.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>All Avaialble Item List</h1>

<p>
    <div class="btn btn-dark">
        <a asp-action="Create">Drop New Item in List </a>
    </div>
</p>


<body>
@foreach (var item in Model)
{

    <div class="card text-center  bg-dark" style="width:16.2rem;float:left;overflow:hidden;margin:1rem;color:white">
       
        <img class="card-img-top" src="@item.ImgUrl" alt="@item.ItemName" style="width:17rem;height:14rem;">
       
            <h4 class="card-title font-italic font-weight-normal" style="background-color:#CCA43B">
                @item.ItemName
                </h4>
            <div class="row">
                <div class="col card-text">
                    @Html.DisplayNameFor(modelItem => item.Available)
                </div>
                <div class="col card-text">
                    @Html.DisplayFor(modelItem => item.Available)
                </div>
            </div>
 <div class="row">
                <div class="col card-text" > 
                    @Html.DisplayFor(modelItem => item.Category.Categories)
                </div>
               
            </div>

           @* <a asp-area="User1" asp-controller="Orders" asp-action="Create" class="btn btn-primary" style="background-color:#9C3848">Order Now</a>*@
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@item.ItemId" style="background-color:#F26419" class="btn btn-dark">Edit</a>
@*           <a asp-action="Details" asp-route-id="@item.DishId" class="btn btn-dark">Details</a>
*@          <a asp-action="Delete" asp-route-id="@item.ItemId" style="background-color:#0E34A0" class="btn btn-dark">Delete</a>
             

        </div>
               
           
    </div>
    }
</body>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    <div class="card text-center  bg-dark" style="width:15rem;float:left;overflow:hidden;margin:1rem;color:white">

                        <img class="card-img-top" src="@item.ImgUrl" alt="@item.ItemName" style="width:15rem;height:11rem;">

                        <h4 class="card-title font-italic font-weight-normal" style="background-color:#CCA43B">
                            @item.ItemName
                        </h4>
                     </div>
               
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
