@model IEnumerable<GroceryManagement.web.Models.Item>


@{
    ViewData["Title"] = "Index12";
}

<h1>Index</h1>


<body>
    @foreach (var item in Model)
    {
        if (item.Category.Categories == "Cookware")

        {
            <div class="card text-center  bg-dark" style="width:16.2rem;float:left;overflow:hidden;margin:1rem;color:white">

                <img class="card-img-top" src="@item.ImgUrl" alt="@item.ItemName" style="width:17rem;height:14rem;">

                <h4 class="card-title font-italic font-weight-normal" style="background-color:#CCA43B">
                    @item.ItemName
                </h4>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(modelItem => item.Available)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(modelItem => item.Available)
                    </div>
                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayFor(modelItem => item.Category.Categories)
                    </div>

                </div>

                <a asp-area="User1" asp-controller="Orders" asp-action="Create" class="btn btn-primary" style="background-color:#9C3848">Order Now</a>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-dark">Details</a>
                </div>

            </div>
        }
    }
</body>


