@model IEnumerable<GroceryManagement.web.Models.Order>

<body style="background-image:url(https://media.assets.sincrod.com/websites/content/nissan-hill-fl/dd6ab10ed8fd4a6784e28e368f41f374_c21x0-1557x875.jpg ); background-size:cover">
@{
    ViewData["Title"] = "Index1";
}

<h1>View Orders</h1>
@*
<p>
    <a asp-action="Create">Create New</a>
    <div class="btn btn-dark">
        <a asp-area="User1" asp-controller="Orders" asp-action="Create"> </a>
    </div>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethods)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.OrderPlaced)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethods.PaymentMethodName)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OrderPlaced)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
                    <div class="btn btn-dark">
                        <a asp-area="User1" asp-controller="Orders" asp-action="Index2"> DONE  </a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
</body>